/* .contentRow{
    background:#faa;
}

.contentMainCol {
    background:#aaf;
} */

/* body {
	background: black;
	color: white;
}

#vid1,
#vid2,
#vid3,
#vid4 {
	opacity: 0;
	width: 100%;
	object-fit: fill;
}

#vid1_num,
#vid2_num,
#vid3_num,
#vid4_num,
#winning_number {
	opacity: 0;
} */

/* div[class^="col"],
div[class*=" col"] {
	padding: 0;
}

.padded-children div[class^="col"],
.padded-children div[class*=" col"] {
	padding: 0 15px;
}

.padded-children {
	margin-top: 10px;
} */

/* #history {
	max-height: 500px;
	overflow: scroll;
} */

body {
	background: black;
	color: white;
}

#vid1,
#vid2,
#vid3,
#vid4 {
	opacity: 0;
	width: 100%;
	object-fit: fill;
}

#vid1_num,
#vid2_num,
#vid3_num,
#vid4_num,
#vid1_num_b,
#vid2_num_b,
#vid3_num_b,
#vid4_num_b,
#winning_number {
	opacity: 0;
}

/* div[class^="col"],
div[class*=" col"] {
	padding: 0;
}

.padded-children div[class^="col"],
.padded-children div[class*=" col"] {
	padding: 0 15px;
}

.padded-children {
	margin-top: 10px;
} */

/* #history {
	max-height: 500px;
	overflow: scroll;
} */
